apiVersoion: apps/v1
kind: Deployment
metadata:
    name: kubia
spec:
    replicas: 3
    template:
        name: kubia
        labels:
            app: kubia
    spec:
        conatiners:
        -   image: luksa/kubia:v1
            name: nodejs

            curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.23.0/minikube-darwin-amd64 && chmod +x minikube && sudo mv minikube/usr/local/bin/